/*Place style*/

.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
}

article {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
}
